<div class="menu">
    <a href="/me" class="menu-item" data-riple>
        <span class="label-large">Perfil</span>
        <div class="state-layer"></div>
    </a>

    <a href="/logout" class="menu-item" data-riple>
        <span class="label-large">Salir</span>
        <div class="state-layer"></div>
    </a>

</div>